<br><br>

<!-- <%= @photos.first.user %> -->

<div class="ui four stackable cards container">

  <% @photos.each do |photo| %>

    <%= render partial: "photo", object: photo %>

  <% end %>

</div>


